body {
    margin: 0;
    padding: 0;
    /* height: 0 auto; */
    font-size: 16px;
    line-height: 2;
    color: #777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/concrete_seamless.png");
    

}

h1 {
    position: relative;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
    font-size: 30px;
    color: #4aaaa5;

}

h2, h3 {
    font-size: 22px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
    color: #4aaaa5;
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    
}

/* nav section */

.navbar-toggle {
    margin-top: 8px;

}
.navbar-custom {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;   
}

.navbar-brand {
    font-family: Georgia, Times, "Times New Roman", serif;
    background: #4aaaa5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-decoration: none; 
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

/* main-content */

.col-md-8 {
    border: 1px solid #dddddd;
    background: #ffffff;
    margin-bottom: 30px;
    clear: both;
}

.about-me-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-me-line {
    border-top: 1.5px solid #cccccc;
    margin-top: 10px   

}

#my-picture {
    float: left;
    margin: 0px 10px 5px 0px;
}

/* portfolio section */

a {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color: white; 
     text-decoration:none; 
     cursor:pointer;  
}

.showcase-line {
    border: 1.5px solid #cccccc;
    margin-top: 10px   
}

.showcase-header {
    padding-top: 20px;
}
.imagesize {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.box {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
    
}

.box h3 {
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-family:  Georgia, Times, "Times New Roman", serif; 
    background: #4aaaa5;
}

/* Contact Form */

ul {
    list-style-type: none;
}

.contact {
    padding-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

.contact-line {
    border: 1.5px solid #cccccc;
    border-top: 1px;
    margin-top: 10px;
}


#contact-form ul {
    margin-bottom: 20px;

}
 
.indent {
    margin-left: -40px;
} 
#contact-form li {
    margin-bottom: 10px;
}
  
label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; 
}
  
input[type=text],
input[type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;

}
  
textarea {
    height: 200px;
}
  
input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
    margin: 10px;
    margin-left: 0px;
}

/* Connect with Me */

#sidebar {
    width: 100%;
    border: 1px solid #cccccc;
    text-align: center;
    background: #ffffff;
}

.connect-with-me {
    text-align: center;
    margin: 10px;
}

.connect-with-me-header {
    text-align: center;
    padding-top: 10px;
}

.connect-with-me-line {
    border-top: 1px solid #cccccc;
    margin-top: 20px;

}
.connect-links {
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 9px;
}

.connect-links li {
    text-align: center;
    display: inline;
    margin: 5px;
}

/* Footer */

.navbar-backgrnd {
    border-top: 7px solid #cccccc;
}

.navbar-text {
    font-size: 14px;

}

.footer {
    /* position: fixed; */
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #666666;
    border-top: 10px solid #cccccc;
    clear: both;
}

.footer-text {
    color: #ffffff;
    text-align: center;
    padding: 10px;
}